.container-login {
    background-color: white;
    width: 100vw; min-height: 100vh;
    display: flex; justify-content: center; align-items: center;
    font-family: 'Nixie One', cursive;
    font-family: 'Oswald', sans-serif;
    color: white;
}

/* Novos */


.loginArea {
    height: 80vh; width: 40vw;
    display: flex; justify-content: center; align-items: center; flex-direction: column;
    background-color: rgba(0,0,0,.5);
    z-index: 9;
    transition: .3s;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
    border-top-left-radius: 100px;
   
}

.loginArea form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginArea .input {
    height: 100%;
    margin: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.loginArea .button {
    height: 30px;
    width: 100px;
    border: none;
    background: linear-gradient(rgba(221,20,80,1), rgba(230,128,21,1));
    border-radius: 2px;
    transition: all ease-in .2s;
    margin: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.entrarArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entrarArea a {
    text-decoration: none;
    color: white;
}

.fundoImg1 {
    position: absolute;
    z-index: 2;
    height: 100vh; width: 100vw;
}
.fundoImg1 img {
    height: 100%;
    width: 100%;
}

.logoLogin {
    width: 150px;
    margin-top: -40px;
}
.span {
    margin-bottom: 30px;
}

.fundo-back {
    position: absolute;
    background: linear-gradient(black, rgba(0,0,0,0), black);
    width: 100vw; height: 100vh;
}

@media (max-width: 700px) {
    .loginArea {
        width: 80vw;
    }
}