.container-contato {
    background-image: url(https://64.media.tumblr.com/7497dfb0ce2dbd658e5e51e2a20aa9b6/tumblr_pdqmh8vRbE1wcookgo9_1280.jpg) !important;
    width: 100vw; min-height: 100vh;
    display: flex; justify-content: center; align-items: center;
    font-family: 'Nixie One', cursive;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.contact {
    width: 30vw; height: 75vh;
    background: linear-gradient( rgba(221,20,80,1), rgba(230,128,21,1) 100%);
    display: flex;
    box-shadow: 1px 1px 5px black;
    color: black;
    border-radius: 10%;
    position: absolute;
}

.contact .logoArea {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(221,20,80,1), rgba(230,128,21,1));
}

.contatoArea {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contatoArea form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.contatoArea form .button {
    height: 30px;
    width: 100px;
    border: none;
    background: black;
    border-radius: 2px;
    transition: all ease-in .2s;
    margin: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.contatoArea form .button:hover {
    background: green;
}

.contatoArea .input {
    height: 30px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 5px;
    border-bottom: 2px solid black;
    box-shadow: 1px 1px 1px black;
    color: black;
}

.textarea {
    height: 100px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid black;
    border-top: none; border-left: none; border-right: none;
    box-shadow: 1px 1px 1px black;
    color: black;
}

@media (max-width: 700px) {
    .contact {
        width: 80vw;
    }
}

.transparenteAbout {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(24, 23, 23, 0.8);
}