.container-home {
    min-height: 100vh;
    width: 100vw;
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.homeDegrade {
    width: 100vw; min-height: 84.5vh;
    background: rgba(0, 0, 0, .80);
    position:absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.linkPost {
    background: linear-gradient(rgba(221,20,80,1), rgba(230,128,21,1));
    height: 50px; width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 30px;
}

.hHome {
    min-height: 100vh; width: 100vw;
    color: black;
    background: linear-gradient(rgba(221,20,80,1), rgba(230,128,21,1));
    display: flex;
    justify-content: center;
    align-items:flex-end;
    background-image: url("https://media.discordapp.net/attachments/1012745470659010570/1054415218903634000/Leitura_Brasil_Header.webp");
    background-repeat: no-repeat;
    background-size: 100%;
}
.generateduBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hHome .titulo-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    color: white;
    text-shadow: 1px 1px 5px black;
}

.hHome .imagem-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.hHome .imagem-home img {
    width: 70%;
}

.conteudos-home {
    background-color: white;
    min-height: 80vh; width: 100vw;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-home-content {
    margin: 10px;
    z-index: 1;
}

.livros-home {
    background-color: whitesmoke;
    min-height: 100vh; width: 100vw;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.podcasts-home {
    background-color: azure;
    min-height: 80vh; width: 100vw;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quadrado {
    position: absolute;
    width: 90vw; height: 60vh;
    background-color: rgb(158, 158, 158);
    margin-top: 250px;
    z-index: 0;
}

.livros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin: 10px;
    box-shadow: 1px 1px 4px black;
}

.livros img {
    width: 150px;
    margin-top: 20px;
    margin: 10px;
}

.lendo-livro {
    z-index: 2;
    position: inherit;
}

.livros-home .livros-img {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}