.temas-container {
    width: 100vw; min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.eachTema {
    width: 400px;
}
.temasTitle {
    margin-top: 100px;
    margin-bottom: 20px;
}
.temaList {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    margin: 10px;
    box-shadow: 1px 1px 4px black;
}