@import url('https://fonts.googleapis.com/css2?family=Nixie+One&family=Oswald:wght@300&display=swap');

.footer {
    width: 100vw; min-height: 40vh;
    background: linear-gradient(black, rgb(59, 59, 59));
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Nixie One', cursive;
    font-family: 'Oswald', sans-serif;
    color: white;
    position: absolute;
    z-index: 1;
}

.footer .links {
    height: 100%; width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer .middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer .logo {
    width: 150px;
}

/* NOVOS */

.footer .links h3 {
    margin-bottom: 5px;
}

.footer .links a {
    text-decoration: none;
    color: white;
}
.footer .links a:hover {
    color: rgba(255,255,255,.4);
}

.footer .contato {
    height: 100%; width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer img {
    width: 30px;
    margin: 5px;
}

.line {
    width: 80vw;
    height: 1px;
    background: linear-gradient(90deg, rgba(0,0,0,0), white, rgba(0,0,0,0));
    margin-top: 10px;
    display: none;
}

@media (max-width: 700px) {
    .footer {
        flex-direction: column;
    }
    .footer .redesSociais {
        text-align: center;
    }
    .line {
        display: block;
    }
}